<%- include('partials/navbar.ejs') %>
<main>
  <% if (error.existe) { %>
  <p><%= error.mensaje %></p>
  <p>Para cargar los países la Base de Datos haz click en el siguiente botón</p>
  <a href="/api/paises/cargarPaises">Cargar países</a>
  <% } else { %>
  <p>Para limpiar todos los países de la Base de Datos haz click en el siguiente botón</p>
  <a href="/api/paises/eliminarPaises">Eliminar países</a>
  <table>
    <thead>
      <th>Bandera</th>
      <th>Nombre oficial</th>
      <th>Capital</th>
      <th>Continente</th>
      <th>Sub continente</th>
      <th>Idiomas</th>
      <th>Fronteras</th>
      <th>Área</th>
      <th>Mapas</th>
      <th>Población</th>
      <th>gini</th>
      <th>Zonas horarias</th>
      <th>Creado por</th>
    </thead>
    <tbody>
      <% paises.forEach(pais => { %>
        <tr>
          <td><img src="<%= pais.banderas.get('svg') || pais.banderas.get('png') %>" alt="<%= pais.banderas.get('alt') || ''%>" width="50px"></td>
          <td><%= pais.nombreOficial %></td>
          <td><%= pais.capital %></td>
          <td><%= pais.continente %></td>
          <td><%= pais.subContinente %></td>
          <td><%= pais.idiomas %></td>
          <td><%= pais.fronteras %></td>
          <td><%= pais.area %></td>
          <td><%= pais.mapas %></td>
          <td><%= pais.poblacion %></td>
          <td><%= pais.gini %></td>
          <td><%= pais.zonasHorarias %></td>
          <td><%= pais.creadoPor %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
</main>